@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html{
    @apply .bg-gray-700;
    padding-top: 64px;
    scroll-behavior: smooth;  
    height: 100%;    
}

.app{
    background-color: #f9f9f9;
}

button:focus, input:focus {
    outline: none;
}

.form-group--error input {
    border:1px solid rgb(184, 6, 6) !important;
}

.blur{
    backdrop-filter: blur(10px);  
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .2s ease;
}
.fade-enter, .fade-leave-active, .fade-leave-to {
    opacity: 0;
}

@media (prefers-color-scheme: dark) {
    html{
        background-color: #1A202C;
    }
    .app{
        background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%);
    }
}

