<template>
  <div>


    <div class="container block md:flex md:space-x-4 py-8 px-4">
      <div class="border dark:border-gray-900 bg-white dark:bg-gray-800 rounded w-full md:w-2/3 p-4">
        <div class="block lg:flex justify-between border-b dark:border-gray-900 pb-1">
          <div>
            <h2 class="text-2xl dark:text-gray-300">Stories</h2>
            <p class="text-gray-600 dark:text-gray-500">Find the best stories from all communities</p>
          </div>
          <ul class="flex space-x-4 text-sm items-center my-3">
            <li class="text-purple-500  dark:text-purple-400 bg-gray-200 dark:bg-gray-900 shadow-inner px-2 py-1 rounded">Hot</li>
            <li class="text-purple-500  dark:text-purple-400">New</li>
            <li class="text-purple-500  dark:text-purple-400">Top</li>
            <li class="text-purple-500  dark:text-purple-400">Trending</li>
          </ul>
        </div>

        <StoryListing :data="{adultContent:false}" />
        <StoryListing :data="{adultContent:false}" />
        <StoryListing :data="{adultContent:true}" />
        <StoryListing :data="{adultContent:false}" />

        



      </div>


      <div class="w-full md:w-1/3 mt-4 md:mt-0">
        <div class="border dark:border-gray-900 bg-white dark:bg-gray-800 rounded p-4 mb-4">
          <h2 class="text-xl mb-2 border-b dark:border-gray-900 pb-1 dark:text-gray-300">Top Communities</h2>
          <ul class="flex flex-col space-y-2">
            <li class="dark:text-gray-400">Harry Potter <span class="text-purple-500  dark:text-purple-400 text-xs px-1">124K</span></li>
            <li class="dark:text-gray-400">Anime <span class="text-purple-500  dark:text-purple-400 text-xs px-1">124K</span></li>
            <li class="dark:text-gray-400">HFY <span class="text-purple-500  dark:text-purple-400 text-xs px-1">124K</span></li>
            <li class="dark:text-gray-400">Fake Community <span class="text-purple-500  dark:text-purple-400 text-xs px-1">124K</span></li>
          </ul>
        </div>
        <div class="border dark:border-gray-900 bg-white dark:bg-gray-800 rounded p-4">
          <h2 class="text-xl mb-2 border-b dark:border-gray-900 pb-1 dark:text-gray-300">Trending Communities</h2>
          <ul class="flex flex-col space-y-2">
            <li class="dark:text-gray-400">Harry Potter <span class="text-purple-500  dark:text-purple-400 text-xs px-1">124K</span></li>
            <li class="dark:text-gray-400">Anime <span class="text-purple-500  dark:text-purple-400 text-xs px-1">124K</span></li>
            <li class="dark:text-gray-400">HFY <span class="text-purple-500  dark:text-purple-400 text-xs px-1">124K</span></li>
            <li class="dark:text-gray-400">Fake Community <span class="text-purple-500  dark:text-purple-400 text-xs px-1">124K</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import StoryListing from '@/components/StoryListing'

export default {
  name: 'Home',
  components:{ StoryListing }
}
</script>
