<template>
  <div>

    <div class="container px-4 pt-8">
      <div class="">
          <div class="flex justify-between items-end mb-2">
            <h2 class="text-4xl dark:text-gray-300">John Doe</h2>
          </div>
        <p class="text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro minus in aliquid quaerat veritatis, incidunt temporibus voluptatibus illo qui exercitationem laboriosam, nulla reprehenderit, voluptates cupiditate explicabo praesentium maxime voluptas vero!</p>
      </div>
    </div>

    <div class="container block md:flex md:space-x-4 py-4 px-4">



      <div class="border dark:border-gray-900 bg-white dark:bg-gray-800 rounded w-full md:w-2/3 p-4">
        <div class="block lg:flex justify-between border-b dark:border-gray-900 pb-1">
          <div>
            <h2 class="text-2xl dark:text-gray-300">John Doe's Stories</h2>
          </div>
        </div>

        <StoryListing :data="{adultContent:false}" />
        <StoryListing :data="{adultContent:false}" />
        <StoryListing :data="{adultContent:true}" />
        <StoryListing :data="{adultContent:false}" />
        <StoryListing :data="{adultContent:false}" />

      </div>


      <div class="w-full md:w-1/3 mt-4 md:mt-0">
        <div class="border dark:border-gray-900 bg-white dark:bg-gray-800 rounded p-4 mb-4">
          <h2 class="text-xl mb-2 border-b dark:border-gray-900 pb-1 dark:text-gray-300">John Doe's Communities</h2>
          <ul class="flex flex-col space-y-2">
            <li class="dark:text-gray-400">Harry Potter <span class="text-purple-500  dark:text-purple-400 text-xs px-1">124K</span></li>
            <li class="dark:text-gray-400">Anime <span class="text-purple-500  dark:text-purple-400 text-xs px-1">124K</span></li>
            <li class="dark:text-gray-400">HFY <span class="text-purple-500  dark:text-purple-400 text-xs px-1">124K</span></li>
            <li class="dark:text-gray-400">Fake Community <span class="text-purple-500  dark:text-purple-400 text-xs px-1">124K</span></li>
          </ul>
        </div>

        <div class="border dark:border-gray-900 bg-white dark:bg-gray-800 rounded p-4 mb-4">
          <h2 class="text-xl mb-2 border-b dark:border-gray-900 pb-1 dark:text-gray-300">John Doe's Favorites</h2>
          <ul class="flex flex-col space-y-2">
            <li class="dark:text-gray-400">Story Title</li>
            <li class="dark:text-gray-400">Story Title</li>
            <li class="dark:text-gray-400">Story Title</li>
            <li class="dark:text-gray-400">Story Title</li>
          </ul>
        </div>

      </div>
      
    </div>
  </div>
</template>

<script>
import StoryListing from '@/components/StoryListing'

export default {
  name: 'FeedIndex',
  components: {StoryListing}
}
</script>

<style scoped>
.list-image-container{
    min-width: 55px;
    height: 55px;

}
</style>
