<template>
  <div>


    <div class="container block md:flex md:space-x-4 py-8 px-4">
      <div class="border dark:border-gray-900 bg-white dark:bg-gray-800 rounded p-4 mb-4 md:mb-0">
        <div class="block lg:flex justify-between border-b dark:border-gray-900 pb-1">
          <div>
            <h2 class="text-2xl dark:text-gray-300">Watch List</h2>
            <p class="text-gray-600 dark:text-gray-500">Stuff you follow</p>
          </div>
          <ul class="flex space-x-4 text-sm items-center my-3">
            <li class="text-purple-500  dark:text-purple-400 bg-gray-200 dark:bg-gray-900 shadow-inner px-2 py-1 rounded">New Chapters</li>
            <li class="text-purple-500  dark:text-purple-400">New Stories</li>
          </ul>
        </div>

        <StoryListing :data="{adultContent:false}" />
        <StoryListing :data="{adultContent:false}" />
        <StoryListing :data="{adultContent:true}" />
        <StoryListing :data="{adultContent:false}" />


      </div>
    </div>
  </div>
</template>

<script>
import StoryListing from '@/components/StoryListing'

export default {
  name: 'WatchList',
  components: {StoryListing}
}
</script>
