<template>
    <div class="border dark:border-gray-900 bg-white dark:bg-gray-800 rounded px-4 py-2 mb-4">
        <div class="flex justify-between pb-1">
            <button @click="toggle()" class="text-xl text-left w-full dark:text-gray-300 md:cursor-default">{{title}}</button>
            <button @click="toggle()" class="text-purple-600 dark:text-white px-2 py-1 duration-300 lg:hidden" :class="{'rotate':open}">
                <font-awesome-icon  icon="chevron-down"/>
            </button>
        </div>
        <div class="panel duration-300" :class="{'open': open}">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: ['title'],
    data(){
        return{
            open: false
        }
    },
    methods:{
        toggle(){
            this.open = !this.open
        }
    }
}
</script>

<style scoped>

@media(max-width: 1023px) {
    .panel{
        max-height: 0;
        overflow: hidden;
    }
    .open{
        max-height: 500px;
    }

    .rotate{
        transform: rotate(180deg);
    }
}

</style>