<template>
    <div class="">
        <div class="flex justify-between md:justify-start text-gray-700 dark:text-white text-2xl mb-1 ml-2 md:ml-0">
            <button @click="toggle()" class="md:cursor-default flex-grow md:flex-grow-0 text-left">{{title}}</button> 
            <button @click="toggle()" class="text-white px-2 py-1 duration-300 md:hidden" :class="{'rotate':open}">
                    <font-awesome-icon  icon="chevron-down"/>
            </button>
        </div>
        <div class="block md:flex justify-between">
            <div class="panel duration-300 block md:flex items-center md:space-x-3 mt-2" :class="{'open': open}">
                <router-link class="comm-nav-link md:-ml-2" :to="{name:'CommunitiesHome', params:{slug:'hfy'}}">Home</router-link>
                <router-link class="comm-nav-link" :to="{name:'CommunityPostIndex', params:{ slug: $route.params.slug } }">Posts</router-link>
                <router-link class="comm-nav-link" :to="{name:'CommunitiesUsers', params:{slug:'hfy'}}">Users</router-link>
                <router-link class="comm-nav-link" :to="{name:'Home'}">Community Settings</router-link>
            </div>
            <div class="flex space-x-4 items-center mt-2">                
                <router-link class="text-center w-full text-white gray:text-gray-300 rounded-full duration-200 bg-green-500 hover:bg-green-600 hover:text-white px-3 py-2" :to="{name:'Home'}">
                    <font-awesome-icon icon="plus" class="mr-2" size="sm"/>Add Story
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['title'],
    data(){
        return{
            open: false
        }
    },
    methods:{
        toggle(){
            this.open = !this.open
        }
    }
}
</script>

<style scoped>

.comm-nav-link{
    @apply block mb-1 py-2 text-gray-700 rounded-full duration-200 px-2;
}
.comm-nav-link:hover {
    @apply bg-purple-300 text-black;
}
.router-link-exact-active{
    @apply .bg-gray-400 .bg-opacity-25 text-purple-600 shadow-inner;
}

@screen dark {
    .comm-nav-link{
        @apply text-white ;
    }
    .router-link-exact-active {
        @apply bg-white text-white bg-opacity-25;
    }
    .comm-nav-link:hover {
        @apply bg-white bg-opacity-25 text-white;
    }
}

@media(max-width: 767px) {
    .panel{
        max-height: 0;
        overflow: hidden;
    }
    .open{
        max-height: 500px;
    }

    .rotate{
        transform: rotate(180deg);
    }
}

</style>