<template>
    <div>
        <div class="flex space-x-4 mt-4">
        <div>
            <h3 class="text-xl text-purple-600 dark:text-purple-500">
                <router-link :to="{name:'CommunitiesHome', params:{slug:'HFY'}}">
                HFY!
                </router-link>
            </h3>
            <p class="text-gray-700 dark:text-gray-500 mb-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente tempore officia deleniti quas!</p> 
            <router-link :to="{name:'CommunitiesHome', params:{slug:'HFY'}}" class="rounded inline-block mt-2 text-purple-600 border-purple-600 dark:text-purple-400 dark:border-purple-400 border px-2 py-1">View</router-link>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['data']
}
</script>

<style scoped>
.list-image-container{
    min-width: 55px;
    height: 55px;

}
</style>