<template>
    <nav class="fixed blur p-2 lg:p-0 w-full z-40 top-0 px-1 lg:px-4 bg-purple-800 dark:bg-gray-800 bg-opacity-75  block lg:flex justify-between text-white items-center shadow">
        <div  class="flex justify-between">
            <router-link class="rounded py-3 px-3 hover:bg-white hover:bg-opacity-25 duration duration-200 font-bold mr-2" :to="{name:'Home'}" exact>
                <font-awesome-icon icon="book" size="lg" class="mr-2" /> 
                    FanStanza
            </router-link>
            <button @click="toggleNav()" class="lg:hidden"><font-awesome-icon icon="bars" size="2x" class="my-1 mx-2"/></button>
        </div>
        <div id="menu" :class="{'open':navOpen}" class="block lg:flex justify-between flex-grow items-center">
            <ul class="block lg:flex items-start lg:space-x-3">
                <li class="py-3 w-full lg:w-auto"><router-link class="block lg:inline-block rounded py-2 px-3 hover:bg-white hover:bg-opacity-25 duration duration-200" :to="{name:'FeedIndex'}">My Feed</router-link></li>
                <li class="py-3 w-full lg:w-auto"><router-link class="block lg:inline-block rounded py-2 px-3 hover:bg-white hover:bg-opacity-25 duration duration-200" :to="{name:'CommunityIndex'}">Communities</router-link></li>
                <li class="py-3 w-full lg:w-auto"><router-link class="block lg:inline-block rounded py-2 px-3 hover:bg-white hover:bg-opacity-25 duration duration-200" :to="{name:'WatchList'}">Watch List</router-link></li>
            </ul>
            <div class="block mx-2 md:flex md:space-x-4 py-3 items-center">
                <div class="flex-grow lg:mt-0 lg:flex-grow-0"><input class="rounded-full w-full shadow-inner dark:bg-gray-900 px-4 py-1" placeholder="Search..."/></div>
                <div class="flex items-center mt-4 lg:mt-0 space-x-4">
                    <router-link :to="{name: 'Login'}" class=" block text-center text-white px-2 py-1 rounded">Login</router-link>
                    <router-link :to="{name: 'Signup'}" class=" block text-center text-white bg-blue-600 px-2 py-1 rounded">Sign&nbsp;Up</router-link>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
import {mapState} from 'vuex'

export default {
    computed:{
        ...mapState(['navOpen'])
    },
    methods:{
        toggleNav(){
            this.$store.commit('SET_NAV', !this.navOpen)
        }
    }
}
</script>

<style scoped>



@media (max-width: 1023px) {
    #menu{
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s;
    }
    #menu.open {
        max-height: 290px;
    }


}

@media(min-width: 1024px) {
    .router-link-active{
        @apply .bg-white .bg-opacity-25;
    }
}

</style>