<template>
    <div>
        <h3 class="font-bold dark:text-purple-500 mt-4">New Contest</h3>
        <span class="text-purple-500  dark:text-purple-400 text-xs">John Doe</span><span class="ml-2 text-purple-500  dark:text-gray-400 text-xs">11/20/2020</span>
        <p class="dark:text-gray-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam assumenda delectus earum eaque reprehenderit, fuga odio placeat, natus illo iusto consectetur, voluptatum ratione accusamus illum ipsa veniam. Optio, aliquid rem.</p>
    </div>
</template>