<template>
    <div>
        <div class="flex space-x-4 mt-4">
            <div v-if="!data.adultContent" class="list-image-container mt-2">
                <img class="rounded shadow" src="https://picsum.photos/id/236/100/150"/>
            </div>
            <div v-else class="list-image-container bg-gray-600 dark:bg-gray-900 h-32 mt-2 rounded text-gray-300 text-center">
                <font-awesome-icon class="mt-8" size="4x" icon="lock"/>
            </div>
            <div class="flex-grow">
                <h3 class="text-xl text-purple-600 dark:text-purple-500">
                    <router-link :to="{name:'StoryDetail', params:{id:1}}">
                        {{titleText}}
                    </router-link>
                </h3>
                <p class="my-1 block dark:text-gray-300">
                    <router-link 
                        :to="{name:'CommunitiesHome', params:{slug:'hfy'}}" 
                        class="text-purple-500 dark:text-purple-400"
                        >c/hfy</router-link> written by <router-link :to="{name:'UsersProfile', params:{id:1}}" class="text-purple-500 dark:text-purple-400">John Doe
                    </router-link>
                </p>
                <div v-if="!data.adultContent">
                    <p class="text-gray-700 dark:text-gray-400 mb-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente tempore officia deleniti quas!</p> 
                </div>
                <div v-else class="mt-2 flex flex-wrap">
                    <div class="rounded bg-gray-400 dark:bg-gray-600 h-3 mb-3 block w-1/12 mr-2"></div> 
                    <div class="rounded bg-gray-400 dark:bg-gray-600 h-3 mb-3 block w-3/12 mr-2"></div> 
                    <div class="rounded bg-gray-400 dark:bg-gray-600 h-3 mb-3 block w-6/12 mr-2"></div> 
                    <div class="rounded bg-gray-400 dark:bg-gray-600 h-3 mb-3 block w-1/12 mr-2"></div> 
                    <div class="rounded bg-gray-400 dark:bg-gray-600 h-3 mb-3 block w-4/12 mr-2"></div> 
                    <div class="rounded bg-gray-400 dark:bg-gray-600 h-3 mb-3 block w-2/12 mr-2"></div> 
                    <div class="rounded bg-gray-400 dark:bg-gray-600 h-3 mb-3 block w-3/12 mr-2"></div> 
                    <div class="rounded bg-gray-400 dark:bg-gray-600 h-3 mb-3 block w-2/12 mr-2"></div> 
                    <div class="rounded bg-gray-400 dark:bg-gray-600 h-3 mb-3 block w-3/12 mr-2"></div> 
                    <div class="rounded bg-gray-400 dark:bg-gray-600 h-3 mb-3 block w-2/12"></div> 
                </div>
                <div>
                    <ul class="flex space-x-2 text-xs text-white">
                        <li class="bg-blue-900 dark:bg-white bg-opacity-75 dark:bg-opacity-25 px-1 rounded">Action</li>
                        <li class="bg-blue-900 dark:bg-white bg-opacity-75 dark:bg-opacity-25 px-1 rounded">Adventure</li>
                        <li class="bg-blue-900 dark:bg-white bg-opacity-75 dark:bg-opacity-25 px-1 rounded">Sci-Fi</li>
                        <li class="bg-blue-900 dark:bg-white bg-opacity-75 dark:bg-opacity-25 px-1 rounded">Steam Punk</li>
                        <li class="bg-blue-900 dark:bg-white bg-opacity-75 dark:bg-opacity-25 px-1 rounded">Comedy</li>
                    </ul>
                </div>
                <router-link :to="{name:'StoryDetail', params:{id:1}}" class="rounded inline-block mt-2 text-purple-600 border-purple-600 dark:text-purple-400 dark:border-purple-400 border px-2 py-1">{{buttonText}}</router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['data'],
    computed: {
        buttonText(){
            return this.data.adultContent ? "Login to View" : "Read"
        },
        titleText(){
            return this.data.adultContent ? "NSFW" : "Story Title - Chapter 3"
        }
    }
}
</script>

<style scoped>
.list-image-container{
    min-width: 100px;
}
</style>