<template>
    <div>
        <div class="flex space-x-4 mt-4">
            <div class="mt-2 list-image-container dark:bg-gray-900 rounded-full text-gray-300 text-center">
                <font-awesome-icon class="mt-4" size="lg" icon="user"/>
            </div>
            <div class="flex-grow">
                <h3 class="text-xl dark:text-purple-500">
                    <router-link :to="{name:'UsersProfile', params:{id:1}}">
                    Erin Linford
                    </router-link>
                </h3>
                <div>
                    <p class="text-gray-700 dark:text-gray-400 mb-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente tempore officia deleniti quas!</p> 
                </div>
                <router-link :to="{name:'UsersProfile', params:{id:1}}" class="rounded inline-block mt-2 text-purple-600 border-purple-600 dark:text-purple-500 dark:border-purple-500 border px-2 py-1">View Profile</router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['data']
}
</script>

<style scoped>
.list-image-container{
    min-width: 55px;
    height: 55px;

}
</style>