<template>
  <div>

    <div class="container pt-8 mb-2 px-4">        
        <CommunityNav title="HFY!"/>        
    </div>


    <div class="container block lg:flex lg:space-x-4 p-4">

      <div class="mt-4 md:mt-0">      
        <div class="lg:w-72 border dark:border-gray-900 bg-white dark:bg-gray-800 rounded p-4 mb-4">
          <div class="flex justify-between mb-2 border-b dark:border-gray-900 pb-1 dark:text-gray-300">
            <h2 class="text-xl ">Details</h2>
            <span class="text-purple-600  dark:text-purple-400 text-sm">Edit Story<font-awesome-icon class="ml-4" icon="pen"/></span>
          </div>
          <p class="text-gray-700 dark:text-gray-500 mb-2">
            Rated: R
          </p>
        </div>

        <CollapsiblePanel title="Chapters">
          <ul class="flex flex-col space-y-2">
            <li class="dark:text-gray-400 flex items-baseline"><span class="bg-green-500 rounded-full w-2 h-2 inline-block mr-2"></span>Chapter 1</li>
            <li class="dark:text-gray-400 flex items-baseline"><span class="bg-green-500 rounded-full w-2 h-2 inline-block mr-2"></span>Chapter 2</li>
            <li class="dark:text-gray-400 flex items-baseline"><span class="bg-green-500 rounded-full w-2 h-2 inline-block mr-2"></span>Chapter 3</li>
            <li class="dark:text-gray-400 flex items-baseline"><span class="bg-orange-500 rounded-full w-2 h-2 inline-block mr-2"></span>Chapter 4 <span class="text-purple-700  dark:text-purple-400 text-xs px-1">new</span></li>
          </ul>
        </CollapsiblePanel>

      </div>

      
      <div class="flex lg:space-x-4 flex-col-reverse lg:flex-row">
        <div class="w-full border dark:border-gray-900 bg-white dark:bg-gray-800 rounded p-8">
          <div class="flex justify-between border-b dark:border-gray-900 pb-3">
            <h2 class="text-2xl dark:text-gray-300">Story Title</h2>
            <ul class="flex space-x-4 text-sm items-center -mt-3">
              <li class="text-purple-600  dark:text-purple-400">Edit Chapter<font-awesome-icon class="ml-4" icon="pen"/></li>
            </ul>
          </div>

          <div>
              <div>
                <h3 class="text-xl dark:text-gray-300 pb-2">Chapter Title</h3>    
                <p class="text-lg text-gray-700 dark:text-gray-400 mb-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente tempore Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente temporeLorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente temporeLorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente tempore officia deleniti quas!</p> 
                <p class="text-lg text-gray-700 dark:text-gray-400 mb-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente tempore Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente temporeLorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente temporeLorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente tempore officia deleniti quas!</p> 
                <p class="text-lg text-gray-700 dark:text-gray-400 mb-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente tempore Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente temporeLorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente temporeLorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente tempore officia deleniti quas!</p> 
                <p class="text-lg text-gray-700 dark:text-gray-400 mb-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente tempore Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente temporeLorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente temporeLorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam eius minus molestias modi, amet aut libero, doloribus quos ipsum culpa similique rem at eaque. Maxime sapiente tempore officia deleniti quas!</p> 
              </div>
              <div class="flex justify-between pt-2">
                <button class="dark:text-white text-lg py-1 rounded ">Prev</button>
                <button class="border border-purple-600 text-lg text-purple-600 px-3 py-1 rounded hover:bg-gray-700 hover:bg-opacity-25 duration-200">Next</button>
              </div>
          </div>
        </div>
      

        <div class="flex lg:block justify-between mb-4">
            <img class="rounded shadow hidden md:block" src="https://picsum.photos/id/236/150/200"/>

            <div class="flex flex-grow flex-row-reverse items-end lg:block">
              <div class="flex flex-col space-y-4 rounded border bg-white dark:bg-gray-800 dark:border-gray-800 mt-4 p-2 text-center">
                <p class="text-gray-500 dark:text-gray-400 text-xs px-4"><font-awesome-icon icon="chevron-up" size="2x" /></p>
                <p class="text-green-600  font-bold dark:text-green-400 text-xs">2554</p>
                <p class="text-gray-500 dark:text-gray-400 text-xs px-4"><font-awesome-icon icon="chevron-down" size="2x" /></p>
              </div>

              <div class="flex lg:flex-col lg:space-y-6 flex-grow justify-evenly items-center space-x-4 lg:space-x-0 dark:border-gray-800 mt-4 p-2 text-center">
                <div class="w-12 h-12 lg:w-full">
                  <p class="text-gray-500  dark:text-gray-400 text-xs"><font-awesome-icon icon="bell" size="2x" /></p>
                  <p class="text-xs text-gray-400">Follow</p>
                </div>
                <div class="w-12 h-12 lg:w-full">
                  <p class=" text-red-500  dark:text-red-400 text-xs"><font-awesome-icon icon="heart" size="2x" /></p>
                  <p class="text-xs text-gray-400">Favorite</p>
                </div>
                <div class="w-12 h-12 lg:w-full">
                  <p class="text-blue-500  dark:text-blue-400 text-xs"><font-awesome-icon icon="share-alt" size="2x" /></p>
                  <p class="text-xs text-gray-400">Share</p>
                </div>
              </div>
            </div>
        </div>
      </div>
      
    </div>


  </div>
</template>

<script>
import CommunityNav from '@/components/CommunityNav'
import CollapsiblePanel from '@/components/CollapsiblePanel'

export default {
  components: { CommunityNav, CollapsiblePanel }
}
</script>
