<template>
  <div>

    <div class="container px-4 lg:px-64 py-4">
        
        <div class="">
          <p class="text-gray-700 dark:text-white text-2xl mb-1">New Community</p>

          <div class="md:flex md:space-x-4">
            <div class="mb-2 flex-1">
              <label class="w-full block mb-1 text-gray-700 dark:text-gray-400">Community Name</label>
              <input type="text" @blur="setSlug()" v-model="communityName" name="communityName" placeholder="Community Name" class="border rounded w-full py-1 px-2"/>
            </div>
            <div class="mb-2 flex-1">
              <label class="w-full block mb-1 text-gray-700 dark:text-gray-400">Slug <span class="text-gray-500 dark:text-gray-600 text-sm">(Cannot be changed)</span></label>
              <input type="text" @blur="setSlug()" v-model="slug" name="slug" placeholder="Slug" class="border rounded w-full py-1 px-2" v-slugify/>
            </div>
          </div>


          <div class="mb-2">
            <label class="w-full block mb-1 text-gray-700 dark:text-gray-400">Description</label>
            <textarea type="text" name="communityName" placeholder="Description" rows="6" class="border rounded w-full py-1 px-2">
            </textarea>
          </div>

          <div class="mb-2 flex items-center space-x-2">
            <input type="checkbox" name="communityName" placeholder="Community Name" class="border rounded py-1 px-2"/>
            <label class="text-gray-700 dark:text-gray-300">Allow Adult Content?</label>
          </div>

          <div class="mb-2">
            <h3 class="text-2xl text-gray-700 dark:text-white">Story Categories</h3>


            <form @submit.prevent="addCategory()">
              <div class="flex space-x-4 items-stretch mt-2">
                <input v-model="newCategory" type="text" name="communityName" placeholder="Category" class="border rounded w-full py-1 px-2 flex-grow"/>
                <button class="text-center w-48 text-white rounded duration-200 bg-green-500 hover:bg-green-600 hover:text-white px-3 py-2">
                  <font-awesome-icon icon="plus" class="mr-2" size="sm"/>Add Category
                </button>
              </div>
            </form>

            <ul class="flex flex-wrap text-white mt-2">
              <li 
                class="bg-blue-900 dark:bg-white bg-opacity-75 dark:bg-opacity-25 px-1 rounded mt-2 mr-2"
                v-for="(category, index) in categories" 
                :key="category">
                <button @click="removeCategory(index)">
                  {{category}}<font-awesome-icon icon="times" class="ml-2" size="sm"/>
                </button>
              </li>
            </ul>

          </div>

          <div class="pt-4">
            <router-link v-if="true" class="text-center w-full block text-white rounded duration-200 bg-green-500 hover:bg-green-600 hover:text-white px-3 py-2" :to="{name:'Home'}">
              Add New Community
            </router-link>
          </div>

          </div>
        </div>
        
    </div>





  </div>
</template>

<script>
export default {
  data(){
    return{
      newCategory: '',
      categories: [],
      communityName: '',
      slug: ''
    }
  },

  watch:{
    communityName(){
      
    }
  },

  methods:{
    setSlug(){
      if(this.slug) return

      let slug = this.communityName.toString().toLowerCase()
        .replace(/\s+/g, '-') // Replace spaces with -
        .replace(/&/g, '-and-') // Replace & with 'and'
        .replace(/[^\w\-]+/g, '') // Remove all non-word chars
        .replace(/--+/g, '-'); // Replace multiple - with single -
      
      this.slug = slug
    },
    addCategory(){
      this.categories.push(this.newCategory)
      this.newCategory = ''
    },
    removeCategory(index){
      this.categories.splice(index, 1)
    }
  }
}
</script>
