<template>
  <div>
    <div class="container pt-8 mb-2 px-4">        
        <CommunityNav title="HFY!"/>        
    </div>

    <div class="container block md:flex md:space-x-4 py-4 px-4">
      <div class="border dark:border-gray-900 bg-white dark:bg-gray-800 rounded w-full md:w-2/3 p-4">
        <div class="block lg:flex justify-between border-b dark:border-gray-900 pb-1">
          <div>
            <h2 class="text-2xl dark:text-gray-300">Stories</h2>
          </div>
          <ul class="flex space-x-4 text-sm items-center my-3">
            <li class="text-purple-500  dark:text-purple-400 bg-gray-200 dark:bg-gray-900 shadow-inner px-2 py-1 rounded">Hot</li>
            <li class="text-purple-500  dark:text-purple-400">New</li>
            <li class="text-purple-500  dark:text-purple-400">Top</li>
            <li class="text-purple-500  dark:text-purple-400">Trending</li>
          </ul>
        </div>

        <StoryListing :data="{adultContent:false}" />
        <StoryListing :data="{adultContent:false}" />
        <StoryListing :data="{adultContent:true}" />
        <StoryListing :data="{adultContent:false}" />
        <StoryListing :data="{adultContent:false}" />



      </div>


      <div class="w-full md:w-1/3 mt-4 md:mt-0">
        <div class="flex space-x-2">
          <router-link v-if="true" class="text-center w-full text-white rounded duration-200 bg-green-500 hover:bg-green-600 hover:text-white px-3 py-2" :to="{name:'Home'}">
            <font-awesome-icon icon="plus" class="mr-2" size="sm"/>Join Community
          </router-link>
          <router-link v-if="true" class="text-center w-full text-white rounded duration-200 bg-purple-500 hover:bg-purple-600 hover:text-white px-3 py-2" :to="{name:'Home'}">
            <font-awesome-icon icon="sign-out-alt" class="mr-2" size="sm"/>Leave Community
          </router-link>
        </div>

        <div class="border dark:border-gray-900 bg-white dark:bg-gray-800 rounded p-4 mb-4 mt-6">
          <h2 class="text-xl mb-2 border-b dark:border-gray-900 pb-1 dark:text-gray-300">Posts</h2>

          <PostListing/>
          <PostListing/>
          <PostListing/>
          <PostListing/>
          
        </div>
      </div>


    </div>

  </div>
</template>

<script>
import CommunityNav from '@/components/CommunityNav'
import StoryListing from '@/components/StoryListing'
import PostListing from '@/components/PostListing'

export default {
  name: 'CommunityHome',
  components: {CommunityNav, StoryListing, PostListing}
}
</script>
