<template>
  <div>
    <div class="container pt-8 mb-2 px-4">        
        <CommunityNav title="HFY!"/>        
    </div>

    <div class="container block md:flex md:space-x-4 py-4 px-4">
      <div class="border dark:border-gray-900 bg-white dark:bg-gray-800 rounded w-full p-4">
        <div class="block lg:flex justify-between border-b dark:border-gray-900 pb-1">
          <div>
            <h2 class="text-2xl dark:text-gray-300">Posts</h2>
          </div>
        </div>

        <PostListing :data="{adultContent:false}" />
        <PostListing :data="{adultContent:false}" />
        <PostListing :data="{adultContent:true}" />
        <PostListing :data="{adultContent:false}" />
        <PostListing :data="{adultContent:false}" />



      </div>

    </div>

  </div>
</template>

<script>
import CommunityNav from '@/components/CommunityNav'
import PostListing from '@/components/PostListing'

export default {
  name: 'CommunityHome',
  components: {CommunityNav, PostListing}
}
</script>
