<template>
  <div>
    <div class="container pt-8 mb-2 px-4">        
        <CommunityNav title="HFY!"/>        
    </div>

    <div class="container block md:flex md:space-x-4 py-4 px-4">
      <div class="border dark:border-gray-900 bg-white dark:bg-gray-800 w-full rounded p-4">
        <div class="block lg:flex justify-between border-b dark:border-gray-900 pb-1">
          <div>
            <h2 class="text-2xl dark:text-gray-300">Users</h2>
          </div>
          <ul class="flex space-x-4 text-sm items-center my-3">
            <li class="text-purple-500  dark:text-purple-400 bg-gray-200 dark:bg-gray-900 shadow-inner px-2 py-1 rounded">All</li>
            <li class="text-purple-500  dark:text-purple-400">Moderators</li>
          </ul>
        </div>

        <UserListing :data="{}" />
        <UserListing :data="{}" />
        <UserListing :data="{}" />
        <UserListing :data="{}" />
        <UserListing :data="{}" />



      </div>
    </div>

  </div>
</template>

<script>
import CommunityNav from '@/components/CommunityNav'
import UserListing from '@/components/UserListing'

export default {
  name: 'CommunityHome',
  components: {CommunityNav, UserListing}
}
</script>
