<template>
  <div class="app">
    <Navigation/>
    <router-view/>
    <footer class="bg-gray-700 dark:bg-gray-900 text-white text-center py-8 mt-8">
      FanStaza &copy; 2020
    </footer>
  </div>
</template>

<script>
import Navigation from "@/components/Navigation"
export default {
  components:{ Navigation }
}
</script>

<style scoped>

</style>