<template>
  <div class="flex justify-center items-center" style="height: 70vh">
    <form
        @submit.prevent="submit()"
      class="border bg-white dark:border-gray-900 dark:bg-gray-800 rounded p-4 mb-4 w-full mx-4 sm:w-7/12 md:w-7/12 lg:w-2/7 xl:w-1/3"
    >
      <h2 class="text-xl mb-2 pb-1 dark:text-white">Login</h2>
      <div class="flex flex-col space-y-2">


        <div class="form-group flex flex-col space-y-2" :class="{ 'form-group--error': $v.email.$error }">
          <label for="email" class="dark:text-gray-400 text-sm">Email</label>
          <input
            name="email"
            v-model.trim="$v.email.$model"
            class="p-2 rounded border dark:border-none shadow-inner dark:bg-gray-900 dark:text-white"
            placeholder="Email"
          />
          <div class="text-red-600" v-if="$v.email.$error">Email is required.</div>
        </div>

        <div class="form-group flex flex-col space-y-2" :class="{ 'form-group--error': $v.password.$error }">
            <label type="text" for="password" class="dark:text-gray-400 text-sm">Password</label>
            <input
            type="password"
            v-model.trim="$v.password.$model"
            name="password"
            class="p-2 rounded border dark:border-none shadow-inner dark:bg-gray-900 dark:text-white"
            placeholder="Password"
            />
            <div class="text-red-600" v-if="$v.password.$error">Password is required.</div>
        </div>


      </div>

      <button class="text-white w-full bg-purple-500 dark:bg-gray-900 border-purple-600 dark:text-purple-400 dark:border-purple-500 border px-2 py-1 rounded mt-4">
          Login
      </button>

      <div class="block md:flex justify-between items-center mt-4">
        <router-link
          :to="{name: 'Login'}"
          class="block text-center text-purple-600 dark:text-purple-400 px-2 py-1"
        >Forgot Password</router-link>
        <div class="text-center my-4 md:my-0 dark:text-gray-400">
          Need an account?
          <router-link
            :to="{name: 'Signup'}"
            class="text-purple-600 dark:text-purple-400 px-2 py-1"
          >Sign Up</router-link>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import {auth} from '@/firebase'
import { required } from "vuelidate/lib/validators";

export default {
  data() {
    return {
        email: '',
        password: ''      
    };
  },

  validations: {
    email: {
        required
    },
    password: {
        required
    }    
  },

  methods:{
      async submit(){
          //Check for errors
          this.$v.$touch()
          if(this.$v.$invalid){
              return
          }

          //Login
          const response = await auth.signInWithEmailAndPassword(this.email, this.password)
          this.$store.commit("SET_CURRENT_USER", response.user);
          this.$store.dispatch("fetchUserProfile");
      }
  }
};
</script>