<template>
  <div class="flex justify-center items-center" style="height: 70vh">
    <form
        @submit.prevent="submit()"
      class="border bg-white dark:border-gray-900 dark:bg-gray-800 rounded p-4 mb-4 w-full mx-4 sm:w-7/12 md:w-7/12 lg:w-2/7 xl:w-1/3 my-8"
    >
      <h2 class="text-xl mb-2 pb-1 dark:text-white">Sign Up</h2>
      <div class="flex flex-col space-y-2">

        <div class="form-group flex flex-col space-y-2 pb-1" :class="{ 'form-group--error': $v.username.$error }">
          <label for="username" class="dark:text-gray-400 text-sm">Username</label>
          <input
            name="username"
            v-model.trim="$v.username.$model"
            class="p-2 rounded border dark:border-none shadow-inner dark:bg-gray-900 dark:text-white"
            placeholder="Username"
          />
          <div class="text-red-600" v-if="$v.username.$error">Username is required.</div>
        </div>


        <div class="form-group flex flex-col space-y-2 pb-1" :class="{ 'form-group--error': $v.email.$error }">
          <label for="email" class="dark:text-gray-400 text-sm">Email</label>
          <input
            name="email"
            v-model.trim="$v.email.$model"
            class="p-2 rounded border dark:border-none shadow-inner dark:bg-gray-900 dark:text-white"
            placeholder="Email"
          />
          <div class="text-red-600" v-if="$v.email.$error">Email is required.</div>
        </div>


        <div class="form-group flex flex-col space-y-2 pb-1">
          <label for="bio" class="dark:text-gray-400 text-sm">Bio (Optional)</label>
          <textarea
            name="bio"
            v-model="bio"
            class="p-2 rounded border dark:border-none shadow-inner dark:bg-gray-900 dark:text-white"
          ></textarea>
        </div>


        <div class="form-group flex flex-col space-y-2 pb-1" :class="{ 'form-group--error': $v.password.$error }">
            <label type="text" for="password" class="dark:text-gray-400 text-sm">Password</label>
            <input
            type="password"
            v-model.trim="$v.password.$model"
            name="password"
            class="p-2 rounded border dark:border-none shadow-inner dark:bg-gray-900 dark:text-white"
            placeholder="Password"
            />
            <div class="text-red-600" v-if="$v.password.$error">Password is required.</div>
        </div>

        <div class="form-group flex flex-col space-y-2 pb-1" :class="{ 'form-group--error': $v.passwordConfirm.$error }">
            <label for="passwordConfirm" class="dark:text-gray-400 text-sm">Password Confirmation</label>
            <input
            type="password"
            v-model.trim="$v.passwordConfirm.$model"
            name="passwordConfirm"
            class="p-2 rounded border dark:border-none shadow-inner dark:bg-gray-900 dark:text-white"            
            />
            <div v-if="errors">              
              <div class="text-red-600" v-if="!$v.passwordConfirm.required">Password is required.</div>
              <div class="text-red-600" v-if="!$v.passwordConfirm.sameAsPassword">Password does not match.</div>
            </div>
        </div>


      </div>

      <button class="w-full text-white bg-purple-500 dark:bg-gray-900 border-purple-600 dark:text-purple-400 dark:border-purple-500 border px-2 py-1 rounded mt-4">
          Sign Up
      </button>

      <div class="text-center mt-4">
        <span class="dark:text-gray-400">Already have an account?</span>
        <router-link
          :to="{name: 'Login'}"
          class="text-purple-600 dark:text-purple-400 px-2 py-1"
        >Login</router-link>
      </div>

    </form>
  </div>
</template>

<script>
import {auth} from '@/firebase'
import { required, sameAs } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      errors: false,
      username: '',
      email: '',
      bio: '',
      password: '',      
      passwordConfirm: ''      
    };
  },

  validations: {
    username: {
        required
    },
    email: {
        required
    },
    password: {
        required
    },
    passwordConfirm: {
        required,
        sameAsPassword: sameAs("password")
    }     
  },

  methods:{
      async submit(){
          //Check for errors
          this.$v.$touch()
          if(this.$v.$invalid){
            this.errors = true
              return
          }

          //Login
          const response = await auth.signInWithEmailAndPassword(this.email, this.password)
          this.$store.commit("SET_CURRENT_USER", response.user);
          this.$store.dispatch("fetchUserProfile");
      }
  }
};
</script>